# SFDX
.sfdx/
./sourcery.exe
./sourceloupe

# This project
node_modules/
dist/
coverage/
*.log
.DS_Store
.env
.env.*

# Added by Illuminated Cloud
.localdev/
/IlluminatedCloud/
/out/
target/
/.illuminatedCloud/
**/*.tsbuildinfo
src/harness.ts
checkin.bat

src/**/*.js

**/tsconfig*.json